html {
    margin: 0;
}

body {
    margin: 0;
}

nav {
    position: absolute;
    height: auto;
    width: 50vw;
    max-width: 50vw;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8ea4a638;
    border-bottom: 5px solid cadetblue;
}

.nav-link {
    float: left;
}

li a {
    display: block;
    color: black;
    font-weight: 700;
    text-align: center;
    padding: 0.75rem 0.75rem;
    text-decoration: none;
}

li a:hover {
    background-color: #8ea4a6;
    color: white;
}

.active {
    background-color: #8ea4a6;
    color: white;
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:small;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container-subsite {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0 1rem 0 1rem
}

.block-left {
    width: 50vw;
    max-width: 50vw;
    max-height: 100vh;
}

.block-right {
    width: 50vw;
    max-width: 50vw;
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8ea4a6;
}

.container-picture {
    position: relative;
}

.person-picture {
    max-width: 15.625rem;
    height: auto;
    border: solid;
    border-radius: 8px;
    background-color: black;
}

.button-remove {
    position: absolute;
    top: 5px;
    right: 5px;
    color: black;
    background-color: grey;
    border-radius: 3px;
    display: none;
}

.button-remove:hover {
    color: white;
    background-color: red;
}

.visible {
    display: block;
}

.title {
    font-size: 3rem;
    font-family:'Times New Roman', Times, serif;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
}

.subtitle {
    margin-top: 0;
    margin-bottom: 2rem;
}

.text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.create-card {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card {
    position: relative;
    padding: 2rem;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

label {
    display: block;
}

.nav-top-margin {
    margin-top: 7.5vh;
}

.skill-form {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.add-button {
    display: inline-block;
    position: relative;
    top: 16px;
    max-height: 21px;
}

.skill-title {
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 0;
}

.skill-content {
    margin-top: 0.5rem;
    margin-right: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
}

.container-exp {
    display: flex;
    margin: 0 0 0 1rem;
    height: 27.5vh;
}

.exp-card {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: flex-start;
}

.exp-taskslist {
    margin-left: 1rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
    overflow: scroll;
    width: 100%;
}

.exp-taskslist::-webkit-scrollbar-thumb {
    background-color: cadetblue;
}

.exp-taskslist::-webkit-scrollbar {
    width: 8px;
}

.exp-cardbox {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: 65vh;
    width: 50vw;
    max-width: 50vw;
    flex-direction: column;
    overflow: scroll;
}

.exp-cardbox::-webkit-scrollbar-thumb {
    background-color: cadetblue;
}

.exp-cardbox::-webkit-scrollbar {
    width: 8px;
}

.exp-cardcontent {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: fit-content;
    width: 45vw;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 0.3rem;
    background-color: #8ea4a6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.exp-cardcontent-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    white-space: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    padding-left: 0.5rem;
}

.exp-cardcontent-right {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 1rem 1rem 1rem 1rem;
    white-space: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    border-radius: 0 5px 5px 0;
}

.exp-cardcontent-right p {
    white-space: normal;
    margin: 0;
}

.green-background {
    background-color: #90a68e;
}