html {
    margin: 0;
}

body {
    margin: 0;
}

nav {
    position: absolute;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    font-weight: 700;
    text-align: center;
    padding: 0.75rem 0.75rem;
    text-decoration: none;
}

li a:hover {
    background-color: #8ea4a6;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container-subsite {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0 1rem 0 1rem
}

.block-left {
    width: 50vw;
    max-height: 100vh;
}

.block-right {
    width: 50vw;
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8ea4a6;
    overflow: hidden;
}

.container-picture {
    position: relative;
}

.person-picture {
    max-width: 15.625rem;
    height: auto;
    border: solid;
    border-radius: 8px;
    background-color: black;
}

.button-remove {
    position: absolute;
    top: 5px;
    right: 5px;
    color: black;
    background-color: grey;
    border-radius: 3px;
    display: none;
}

.button-remove:hover {
    color: white;
    background-color: red;
}

.visible {
    display: block;
}

.title {
    font-size: 3rem;
    font-family:'Times New Roman', Times, serif;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
}

.subtitle {
    margin-top: 0;
    margin-bottom: 2rem;
}

.text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.create-card {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card {
    position: relative;
    padding: 2rem;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

label {
    display: block;
}